<form [formGroup]="formGroup" (ngSubmit)="saveGroup()">
  <app-card-layout title="Création d'un groupe">

    <div class="app-col">

      <mat-form-field>
        <mat-label>Nom:</mat-label>
        <input matInput type="text" placeholder="Nom du groupe..." formControlName="name" size="200">
      </mat-form-field>

      <fieldset>
        <legend>Membres </legend>

        <div class="member-panel">

          <mat-table [dataSource]="(group$ | async).members">

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
              <mat-cell *matCellDef="let caracter">{{caracter.name}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row;columns:columns;"></mat-row>

          </mat-table>

          <!-- <div> -->

            <app-caracter-table [columns]="caractersColumns" [actions]="actions" (action)="onAction($event)"></app-caracter-table>


          <!-- </div> -->

        </div>


      </fieldset>

    </div>

    <div class="button-box">

      <button mat-raised-button color="primary" type="submit">OK</button>
      <button mat-raised-button color="primary" type="button" (click)="cancel()">Annuler</button>
      <button mat-raised-button color="primary" type="button" (click)="reset()">Réinit.</button>

    </div>

  </app-card-layout>
</form>