<form [formGroup]="formGroup" (ngSubmit)="saveGroup()">

  <app-card-layout title="Modification d'un groupe">

    <app-group-form formControlName="group"></app-group-form>

    <div class="button-box">

      <button mat-raised-button color="primary" type="submit">OK</button>
      <button mat-raised-button color="primary" type="button" (click)="cancel()">Annuler</button>
      <button mat-raised-button color="primary" type="button" (click)="reset()">Réinit.</button>

    </div>

  </app-card-layout>

</form>