<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Liste des personnages</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <app-caracter-table [columns]="columns" [actions]="actions" (action)="onAction($event)">
        </app-caracter-table>

    </mat-card-content>
    <mat-card-actions class="button-box">
        <button type="button" mat-raised-button color="primary" (click)="newCaracter()">Nouveau...</button>
    </mat-card-actions>
</mat-card>