:host ::ng-deep .button-box {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}

:host ::ng-deep .button-box button {
    flex:1 1 0;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 30%;
}

:host ::ng-deep .button-box button:first-child {
    flex:1 1 0;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 30%;
}

